@model Alkemy.Teachers
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name_</h2>
<h4>@Model.Identification</h4>

<div>
    @Html.ActionLink("<<<  Volver a la lista", "Lista")
</div>
